.main-info {
  display: flex;
  flex: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 10px 0;
  &__favorites {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 35px 30px;
    box-shadow: 0 2px 21px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    border-bottom: 6px solid #f4eced;
    z-index: 1001;
    &-list {
      display: block;
      width: 100%;
      padding: 14px;
      border: 1px solid rgba(121, 11, 24, 0.3);
      background-color: rgba(121, 11, 24, 0);
      color: #790b18;
      font-family: "Playfair Display";
      font-size: 12px;
      font-weight: 400;
      text-decoration: none;
      text-align: center;
      transition: all 0.15s ease-out;
      &:hover {
        background: #790b18;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &-good {
      display: flex;
      align-items: flex-start;
      position: relative;
      width: 275px;
      margin-bottom: 20px;
      &:last-child {
        .main-info__favorites-good-description {
          border: none !important;
        }
      }
      &-price {
        color: #000000;
        font-family: "Playfair Display";
        font-weight: 400;
        font-size: 16px;
        span {
          font-size: 23px;
        }
      }
      &-image {
        display: block;
        width: 64px;
        height: 86px;
        object-fit: contain;
        object-position: center;
      }
      &-delete {
        display: inline-block;
        background: transparent;
        border: none;
        text-decoration: none;
        img {
          width: 14px;
        }
        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }
      }
      &-description {
        margin: 0 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(106, 106, 106, 0.42);
        a {
          display: block;
          margin-bottom: 10px;
          color: #790b18;
          font-family: "Playfair Display";
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;
          transition: all 0.15s ease-out;
          &:hover {
            text-decoration: underline;
          }
        }
        p {
          display: block;
          margin-bottom: 0;
          color: #848484;
          font-family: "Proxima Nova";
          font-size: 12px;
          font-weight: 300;
        }
      }
    }
  }
  &__info {
    color: rgba(0, 0, 0, 0.7);
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    span {
      display: inline-block;
      margin-right: 40px;
      a {
        display: inline-block;
        border-bottom: 1px solid #d2d2d2;
        line-height: 1;
        color: rgba(0, 0, 0, 0.7);
        transition: all 0.15s ease-out;
        &:hover,
        &:active,
        &:focus {
          color: #790b18;
          border: 0;
          text-decoration: none;
        }
      }
    }
  }
  &__fav {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    text-decoration: none;
    color: #790b18;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    img {
      display: inline-block;
      margin-left: 10px;
    }
    &:hover,
    &:active,
    &:focus {
      color: #000000;
      text-decoration: none;
    }
  }
}

.main-header {
  display: block;
  width: 100%;
  padding: 10px 0;
  background: #ffffff;
  border-top: 1px solid rgba(118, 10, 23, 0.08);
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    &>div {
      display: inline-flex;
      flex-flow: row wrap;
      align-items: center;
    }
  }
  &__logo {
    display: inline-block;
    text-decoration: none;
    img {
      max-width: 100%;
    }
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
  &__call {
    display: inline-block;
    margin-left: 70px;
    text-align: right;
    cursor: pointer;
    span {
      display: inline-block;
      color: #000000;
      font-family: "Proxima Nova";
      font-size: 24px;
      font-weight: 600;
      line-height: 1;
    }
    a {
      color: #790b18;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }
  }
  &__search {
    display: inline-block;
    position: relative;
    input[type='search'] {
      display: block;
      width: 290px;
      padding: 12px 20px;
      padding-right: 60px;
      background: #ffffff;
      border: 1px solid rgba(121, 11, 24, 0.08);
      outline: none;
      color: #8a8a8a;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      transition: all 0.15s ease-out;
      &:hover {
        border-color: rgba(121, 11, 24, 0.3);
      }
      &:focus {
        border-color: #790b18;
      }
    }
    button {
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 25px;
      top: 50%;
      margin-top: -12px;
      background: transparent;
      border: none;
      outline: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.main-navbar {
  position: relative;
  &__drop {
    display: inline-flex !important;
    align-items: center !important;
    span {
      color: #6a6a6a;
      font-family: "Playfair Display";
      font-size: 16px;
      font-weight: 400;
    }
    &>img {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.home-slides {
  display: block;
  width: 100%;
  &__slide {
    display: block;
    width: 100%;
    height: 480px;
    overflow-y: auto;
    .container {
      display: flex;
      align-items: center;
      height: 100%;
    }
    &-content {
      display: block;
      position: relative;
      max-width: 500px;
      color: rgba(255, 255, 255, 0.73);
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 300;
      line-height: 1.67;
      &-title {
        display: block;
        position: relative;
        margin-bottom: 70px;
        color: #ffffff;
        font-family: "Playfair Display";
        font-size: 60px;
        font-weight: 400;
        text-align: center;
        line-height: 1.2;
        &:before {
          display: block;
          position: absolute;
          content: '3';
          color: rgba(255, 255, 255, 0.17);
          font-family: "Playfair Display";
          font-size: 272px;
          font-weight: 400;
          line-height: 0
        }
      }
      p {
        color: rgba(255, 255, 255, 0.73);
        font-family: "Proxima Nova";
        font-size: 18px;
        font-weight: 300;
        line-height: 1.67;
      }
    }
  }
}

.home-title {
  display: block;
  position: relative;
  margin-bottom: 50px;
  color: #000000;
  font-family: "Playfair Display";
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 50vh;
    height: 1px;
    right: 105%;
    top: 50%;
    background-color: rgba(106, 106, 106, 0.42);
  }
}

.home-container {
  display: block;
  padding: 80px 50px;
  &_goods {
    background-color: #faf9f8;
  }
  &_alcostore {
    background-color: #faf9f8;
  }
  &_features {
    background: url('../images/home_features_bg.jpg') no-repeat center;
    background-size: cover;
  }
}

.home-goods {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 270px;
    height: 405px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 14px 20px 20px 20px;
    box-shadow: -1px 13px 21px rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
    overflow: hidden;
    transition: all 0.15s ease-out;
    &-hovered {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 290px;
      background: rgba(255, 255, 255, 0.8);
      transition: all 0.15s ease-out;
      .home-goods__card-title {
        margin: 10px 0 60px 0;
      }
      &_active {
        display: block !important;
      }
    }
    &-description {
      display: block;
      width: 100%;
      div {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        span {
          color: #232323;
          font-family: "Proxima Nova";
          font-size: 14px;
          font-weight: 400;
          &:first-child {
            color: #b86001;
          }
        }
      }
    }
    &-drop {
      display: none;
      position: absolute;
      top: 14px;
      right: 20px;
      cursor: pointer;
      z-index: 1;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.7;
      }
    }
    &-main {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      position: relative;
      width: 225px;
      height: 290px;
    }
    &-image {
      display: block;
      width: 100%;
      height: 210px;
      object-fit: contain;
    }
    &-title {
      display: block;
      height: 50px;
      overflow: hidden;
      margin-bottom: 30px;
      color: #790b18;
      font-family: "Playfair Display";
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }
    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
    }
    &-footer {
      width: 100%;
      &-info {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(121, 11, 24, 0.09);
        color: #2a2929;
        font-family: "Proxima Nova";
        font-size: 14px;
        font-weight: 300;
      }
      &-main {
        color: #000000;
        font-family: "Playfair Display";
        font-size: 16px;
        font-weight: 400;
        span {
          font-size: 32px;
        }
      }
      &-fav {
        display: inline-flex;
        align-items: center;
        margin-top: 20px;
        padding: 0;
        background: transparent;
        border: none;
        outline: none;
        text-decoration: none;
        color: #790b18;
        font-family: "Proxima Nova";
        font-size: 32px;
        font-weight: 400;
        transition: all 0.15s ease-out;
        img {
          display: inline-block;
        }
        &:hover {
          color: #790b18;
          text-decoration: none;
          opacity: 0.7;
        }
      }
    }
    &:hover {
      box-shadow: -1px 13px 40px rgba(41, 26, 1, 0.16);
      .home-goods__card-hovered {
        display: block !important;
      }
      .home-goods__card-hovered_hide {
        display: none !important;
      }
    }
  }
}

.home-catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  &__card {
    display: inline-flex;
    align-items: stretch;
    width: 270px;
    height: 75px;
    margin-right: 15px;
    margin-bottom: 25px;
    position: relative;
    background: #faf9f8;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:before {
      display: block;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 75px;
      height: 75px;
      background: #790b18;
      transition: all 0.15s ease-out;
    }
    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75px;
      height: 75px;
      z-index: 1;
    }
    &-title {
      display: flex;
      align-items: center;
      flex: 1;
      padding: 16px;
      color: #3b3b3b;
      font-family: "Playfair Display";
      font-size: 18px;
      font-weight: 400;
      z-index: 1;
    }
    &:hover {
      text-decoration: none;
      &:before {
        width: 100%;
      }
      .home-catalog__card-title {
        color: #fffbfb;
      }
    }
  }
}

.home-alcostore {
  position: relative;
  &-slides {
    position: relative;
    &__slide {
      img {
        width: 100%;
        height: 480px;
        object-fit: cover;
      }
    }
    &:before {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      right: 40px;
      top: 40px;
      background: transparent;
      border: 9px solid #f2ebe5;
    }
  }
  &-text {
    display: block;
    padding-left: 60px;
    max-width: 490px;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    p {
      margin-bottom: 50px;
    }
    a {
      color: #790b18;
      font-family: "Playfair Display";
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.home-features {
  position: relative;
  max-width: 445px;
  p {
    display: block;
    margin: 20px 0 50px 0;
    color: #6a6a6a;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
  }
  &-card {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    img {
      display: inline-block;
      margin-right: 16px;
    }
    span {
      display: inline-block;
      color: #6a6a6a;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.home-reviews {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 80px;
  padding-left: 110px;
  &:before {
    display: block;
    position: absolute;
    content: '';
    left: 10px;
    bottom: -30px;
    width: 75px;
    height: 65px;
    background: url('../images/icon_quotes.png') no-repeat center;
  }
  &-card {
    display: block;
    position: relative;
    padding: 35px 45px;
    border: 10px solid #f2ebe5;
    background-color: rgba(252, 251, 251, 0);
    color: #6a6a6a;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    p {
      margin-bottom: 30px;
    }
    &__author {
      display: block;
      text-align: right;
      color: #6a6a6a;
      font-family: "Playfair Display";
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
    }
  }
}

.home-help {
  display: block;
  width: 100%;
  padding: 50px;
  background: url('../images/help_bg.jpg') no-repeat center;
  background-size: cover;
  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
  span {
    display: inline-block;
    color: #f2ebe5;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 400;
  }
  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 230px;
    height: 52px;
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.73);
    background-color: #ffffff;
    color: #790b18;
    font-family: "Proxima Nova";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 242px;
      height: 64px;
      top: -7px;
      right: -7px;
      border: 3px solid rgba(242, 235, 229, 0.73);
      background-color: rgba(255, 255, 255, 0);
    }
    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.73);
      background-color: #790b18;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.main-footer {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 50px;
  &__logo {
    display: inline-block;
    margin-bottom: 40px;
    text-decoration: none;
    img {
      max-width: 100%;
    }
    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }
  &__info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.7);
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    a {
      display: inline-block;
      border-bottom: 1px solid #d2d2d2;
      line-height: 1;
      margin-left: 5px;
      color: rgba(0, 0, 0, 0.7);
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        color: #790b18;
        border: 0;
        text-decoration: none;
      }
    }
    img {
      display: inline-block;
      margin-right: 5px;
    }
    strong {
      margin-right: 5px;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        margin-right: 6px;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  &__navs {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    &-nav {
      display: inline-block;
      width: 170px;
      margin-right: 20px;
      margin-bottom: 15px;
      &-title {
        display: block;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.73);
        font-family: "Proxima Nova";
        font-size: 14px;
        line-height: 1.5;
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
  &__links {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.73);
        font-family: "Proxima Nova";
        font-size: 14px;
        line-height: 1.5;
        text-decoration: underline;
        text-decoration-color: #d2d2d2;
        font-weight: 300;
        transition: all 0.15s ease-out;
        &:hover {
          color: #790b18;
          text-decoration: none;
        }
      }
    }
  }
  &__who {
    display: block;
    padding: 30px 0;
    color: rgba(0, 0, 0, 0.73);
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid rgba(121, 11, 24, 0.08);
    border-bottom: 1px solid rgba(121, 11, 24, 0.08);
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 30px 15px;
        color: rgba(0, 0, 0, 0.73);
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 300;
        text-decoration: none;
        transition: all 0.15s ease-out;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  &__creators {
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.73);
    a {
      display: inline-block;
      margin-left: 5px;
      color: rgba(121, 11, 24, 0.73);
      text-decoration: underline;
      transition: all 0.15s ease-out;
      &:hover {
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.main-mob-header {
  display: none;
  width: 100%;
  background: #ffffff;
  &-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
    .main-header__logo {
      max-width: 90px;
      margin: 15px 15px 15px 20px;
    }
    &__links {
      display: inline-flex;
      align-items: center;
      a {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        img {
          max-width: 100%;
        }
        &:hover {
          text-decoration: none;
          opacity: 0.7;
        }
      }
      &-drop {
        display: inline-block;
        position: relative;
        margin-left: 10px;
        padding: 20px !important;
        border-left: 1px solid #f6ebec;
      }
    }
    &__nav {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      background: #ffffff;
      border: 1px solid #f6ebec;
      z-index: 10;
      li {
        display: block;
        a {
          display: block;
          padding: 6px 12px;
          color: #4e4e4e;
          font-family: "Proxima Nova";
          font-size: 14px;
          font-weight: 300;
          text-decoration: none;
          transition: all 0.15s ease-out;
          &:hover {
            background: #790b18;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
      &_active {
        display: block !important;
      }
    }
  }
  &-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid #f6ebec;
    border-bottom: 1px solid #f6ebec;
  }
}

.pre-page {
  display: block;
  width: 100%;
  padding: 30px;
  background-color: #ffffff;
  background-size: cover !important;
  &_wow {
    background: url('../images/page_bg.jpg') no-repeat right;
  }
}

.page-breadcrumps {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  list-style: none;
  color: #5d5d5d;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
  li {
    display: inline-block;
    margin-right: 10px;
    a {
      color: #5d5d5d;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover {
        color: #790b18;
        text-decoration: underline;
      }
    }
  }
}

.page-title {
  display: block;
  position: relative;
  margin-bottom: 0;
  color: #000000;
  font-family: "Playfair Display";
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 50vh;
    height: 1px;
    right: 105%;
    top: 50%;
    background-color: rgba(106, 106, 106, 0.42);
  }
}

.page-content {
  display: block;
  width: 100%;
  padding: 50px 0 80px 0;
  background-color: #faf9f8;
  &_light {
    padding: 20px 0 60px 0;
    background: #ffffff;
  }
}

.page-favorites-cards {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin-bottom: 50px;
  .home-goods__card {
    margin-right: 30px;
  }
}

.page-favorites-email {
  display: block;
  width: 100%;
  &__title {
    display: block;
    margin-bottom: 35px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 600;
  }
  &__form {
    display: flex;
    max-width: 680px;
    input {
      display: inline-block;
      flex: 1;
      padding: 17px 30px;
      outline: none;
      border: 1px solid rgba(121, 11, 24, 0.08);
      background-color: #ffffff;
      color: #8c8c8c;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      transition: all 0.15s ease-out;
      &:hover {
        border-color: rgba(121, 11, 24, 0.3);
      }
      &:focus {
        border-color: #790b18;
      }
    }
    button {
      display: inline-block;
      padding: 17px 35px;
      outline: none;
      border: 1px solid rgba(121, 11, 24, 0.08);
      background-color: #790b18;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 300;
      transition: all 0.15s ease-out;
      &:hover,
      &active,
      &:focus {
        background: #ffffff;
        color: #790b18;
        text-decoration: none;
      }
    }
  }
}

.page-aside {
  display: block;
  width: 100%;
  max-width: 240px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  list-style: none;
  border: 1px solid #f4eced;
  li {
    display: block;
    a {
      display: block;
      padding: 14px 16px;
      border-bottom: 1px solid #f4eced;
      background-color: #faf9f8;
      color: #4e4e4e;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      transition: all 0.15s ease-out;
      &:hover,
      &active,
      &:focus {
        background-color: #790b18;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.page-sort {
  display: block;
  width: 100%;
  max-width: 240px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  border: 1px solid #f4eced;
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked)+span,
  [type="checkbox"]:checked+span {
    position: relative;
    padding-left: 30px;
    font-weight: 300;
    cursor: pointer;
    &:hover {
      color: #790b18 !important;
    }
  }
  /* checkbox aspect */
  [type="checkbox"]:not(:checked)+span:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 19px;
    background: url('../images/icon_checkbox.png') no-repeat center;
  }
  /* checked mark aspect */
  [type="checkbox"]:checked+span:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background: url('../images/icon_checkbox_checked.png') no-repeat center !important;
  }
  &__change {
    display: block;
    width: 100%;
    padding: 14px;
    background: #790b18;
    border: none;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    transition: all 0.15s ease-out;
    &:hover,
    &active,
    &:focus {
      color: #404040;
      background: #dbc0c3;
      text-decoration: none;
    }
  }
  &__foo {
    display: block;
    position: relative;
  }
  &__collapser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 14px 16px;
    background-color: #faf9f8;
    color: #3b3a3a;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &active,
    &:focus {
      color: #790b18;
      text-decoration: none;
    }
  }
  &__collapse {
    display: none;
    padding: 14px 16px;
    border-bottom: 1px solid #f4eced;
    transition: all 0.15s ease-out;
    &_light {
      background: #ffffff;
    }
    label {
      display: block;
      width: 100%;
      position: relative;
      margin-bottom: 10px;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 300 !important;
      color: #000000;
    }
    span {
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 300;
      color: #000000;
    }
  }
}

.page-sub-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .home-catalog__card {
    background: #ffffff;
  }
}

.page-categories-goods {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-categories-article {
  display: block;
  margin-top: 40px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  &__title {
    display: block;
    margin-bottom: 35px;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 30px;
    font-weight: 300;
  }
  p {
    margin-bottom: 15px;
  }
}

.good-title {
  display: block;
  margin-bottom: 30px;
  color: #000000;
  font-family: "Proxima Nova";
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

.good-article {
  display: block;
  max-width: 735px;
  margin-bottom: 60px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.goods-slides {
  display: block;
  width: 100%;
  max-width: 370px !important;
  &__slide {
    display: block;
    width: 100%;
    height: 415px;
    background-color: #ffffff;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
}

.m-b-80 {
  margin-bottom: 80px;
}

.good-info {
  display: block;
  max-width: 190px;
  padding: 14px 0 8px 0;
  border-bottom: 1px solid rgba(106, 106, 106, 0.42);
  color: #383838;
  font-family: "Proxima Nova";
  font-size: 20px;
  font-weight: 300;
  &__title {
    display: block;
    margin-bottom: 2px;
    color: #848484;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 300;
  }
}

.good-buy {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  .main-info__fav {
    margin-top: 15px;
  }
}

.good-price {
  display: inline-block;
  color: #000000;
  font-family: "Playfair Display";
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  span {
    font-size: 50px;
  }
}

.article {
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Proxima Nova";
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin-bottom: 35px;
    color: #000000;
    font-family: "Proxima Nova";
    font-weight: 600;
    line-height: 1;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    display: block;
    max-width: 750px;
    margin-bottom: 40px;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 10px 0 50px 0;
  }
  blockquote {
    display: block;
    position: relative;
    max-width: 840px;
    padding: 70px;
    border: none;
    color: #000000;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 98px;
      height: 84px;
      left: 50%;
      top: 0;
      margin-left: -49px;
      background: url('../images/icon_quote.png') no-repeat center;
    }
  }
  &__special {
    display: block;
    max-width: 750px;
    margin-bottom: 20px;
    padding: 25px 85px 25px 50px;
    background-color: #faf9f8;
    color: rgba(0, 0, 0, 0.8);
    font-family: "Proxima Nova";
    font-size: 20px;
    font-weight: 300;
  }
}

.news {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  &-card {
    display: block;
    max-width: 360px;
    margin-bottom: 40px;
    img {
      display: block;
      width: 100%;
      height: 270px;
      margin-bottom: 20px;
      object-fit: cover;
    }
    &__title {
      display: block;
      color: #5d5d5d;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 400;
      transition: all 0.15s ease-out;
      &:hover,
      &active,
      &:focus {
        color: #790b18;
        text-decoration: underline;
      }
    }
  }
}

.as-modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 70px;
  .close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 25px;
    top: 25px;
    background: transparent;
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-family: "Playfair Display";
    font-size: 30px;
    font-weight: 400;
  }
  p {
    display: block;
    margin-bottom: 30px;
    color: #666565;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
  }
  form {
    display: block;
    width: 100%;
    max-width: 405px;
  }
  input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border: 1px solid rgba(121, 11, 24, 0.08);
    background-color: rgba(121, 11, 24, 0);
    color: #666565;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:hover {
      border-color: rgba(121, 11, 24, 0.3);
    }
    &:focus {
      border-color: #790b18;
    }
  }
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border: 1px solid rgba(121, 11, 24, 0.08);
    background-color: rgba(121, 11, 24, 0);
    color: #666565;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:hover {
      border-color: rgba(121, 11, 24, 0.3);
    }
    &:focus {
      border-color: #790b18;
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 17px 32px;
    border: 0;
    outline: 0;
    background-color: #790b18;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 400;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #9a2130;
    }
  }
}

.main-mob-custom-drop {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  right: 0;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #f6ebec;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  z-index: 102;
  span {
    display: inline-block;
    margin: 5px 0;
  }
  a {
    display: inline-block;
    padding: 0;
    color: #790b18;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      color: #790b18;
      border: 0;
      text-decoration: underline;
    }
  }
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-20 {
  padding: 20px !important;
}