@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .main-info {
    display: none;
  }
  .main-header {
    display: none;
  }
  .navbar-static-top {
    display: none;
  }
  .home-slides {
    display: none;
  }
  .home-container {
    padding: 20px 0 10px 0;
    background: #fbf9f8 !important;
  }
  .home-title {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }
  .home-goods {
    justify-content: space-around;
  }
  .home-catalog__card {
    width: 100%;
    margin-bottom: 4px;
    background: #ffffff;
  }
  .home-alcostore-slides {
    margin-bottom: 20px;
  }
  .home-alcostore-slides:before {
    display: none;
  }
  .home-alcostore-text {
    padding: 0;
    p {
      margin-bottom: 20px;
    }
  }
  .home-features p {
    margin-bottom: 20px;
  }
  .home-reviews {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
  }
  .home-reviews-card {
    padding: 20px;
    text-align: center;
  }
  .home-reviews:before {
    display: none;
  }
  .home-reviews .slick-prev {
    left: auto;
    right: 50%;
    margin-right: 10px;
  }
  .home-reviews .slick-next {
    left: 50%;
    right: auto;
    margin-left: 10px;
  }
  .home-reviews .slick-next,
  .home-reviews .slick-prev {
    top: auto;
    bottom: -45px;
  }
  .home-help span {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
  }
  .main-footer__who {
    padding: 15px;
  }
  .main-footer__nav li a {
    padding: 3px 10px;
    font-size: 14px;
  }
  .main-footer__nav {
    text-align: center;
  }
  .main-footer__navs-nav {
    margin-right: 0;
  }
  .main-footer__navs {
    justify-content: space-between;
    margin-top: 20px;
  }
  .navbar-nav {
    margin: 0;
  }
  .main-navbar__drop span {
    color: #000000;
  }
  .main-header__search {
    input[type='search'] {
      width: 175px;
      padding: 12px;
      padding-right: 56px;
      font-size: 12px;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      right: 0;
      top: 0;
      width: 45px;
      height: 100%;
      margin: 0;
      background-color: rgba(121, 11, 24, 0.08);
    }
  }
  .main-mob-header {
    display: block;
  }
  .page-favorites-cards {
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .pre-page {
    padding: 20px;
  }
  .page-title {
    margin-bottom: 0;
    font-size: 30px;
    text-align: center;
  }
  .page-breadcrumps {
    margin-bottom: 15px;
  }
  .page-content {
    padding: 20px 0;
  }
  .page-favorites-email__title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  .page-favorites-email__form {
    justify-content: center;
    input {
      padding: 6px 12px;
    }
    button {
      padding: 6px 12px;
    }
  }
  .page-aside {
    margin: 0 auto 20px auto;
  }
  .page-sort {
    margin: 0 auto 20px auto;
  }
  .page-categories-goods {
    justify-content: space-around;
    margin-top: 20px;
  }
  .page-categories-article__title {
    margin-bottom: 20px;
  }
  .page-categories-article {
    margin-top: 20px;
  }
  .m-b-80 {
    margin-bottom: 20px;
  }
  .slick-slide img {
    margin: 0 auto;
  }
  .good-title {
    margin-bottom: 10px;
  }
  .good-article {
    margin-bottom: 20px;
  }
  .good-info {
    max-width: none;
    width: 100%;
    margin-top: 5px;
    padding: 15px;
    border: 1px solid rgba(106, 106, 106, 0.42);
  }
  .article img {
    margin: 0 auto 20px auto;
  }
  .article h1,
  .article h2,
  .article h3,
  .article h4,
  .article h5,
  .article h6 {
    margin: 0 0 20px 0;
  }
  .article blockquote {
    margin: 0;
    padding: 20px;
  }
  .article__special {
    padding: 20px;
  }
  .page-title:before {
    display: none;
  }
  .news {
    justify-content: space-around;
  }
  .news-card {
    &__title {
      text-align: center;
    }
  }
  .as-modal {
    padding: 30px;
  }
  .dropdown-menu li a {
    background: #ffffff;
    box-shadow: none;
  }
  .dropdown-menu {
    border: 1px solid #f4eced !important;
  }
  .good-buy {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
  }
  .navbar-nav .open .dropdown-menu {
    position: absolute;
  }
  .dropdown-menu_custom {
    left: 0 !important;
    li {
      a {
        background: #f4eced !important;
      }
    }
  }
  .as-modal p {
    text-align: center;
  }
  .home-goods__card-drop {
    display: block;
  }
  .good-slides {
    margin-right: 0;
  }
}

@media (min-width: 979px) {
  ul.nav li.dropdown:hover>ul.dropdown-menu {
    display: block;
  }
}