.navbar {
  min-height: auto;
  margin: 0;
  border: none;
  border-bottom: 3px solid #f4eced;
}

ul {
  margin: 0;
  padding: 0;
}

.navbar-toggle {
  margin-right: 0;
}

.clear,
.clear:after,
.clear:before {
  content: none !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: transparent;
  color: #000000 !important;
}

.navbar-default .navbar-nav>li>a {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  color: #6a6a6a;
  text-decoration: none;
  transition: all 0.15s ease-out;
  &:hover {
    color: #000000;
    text-decoration: none;
  }
}

.navbar-nav:last-child>li:last-child {
  a {
    padding-right: 0;
  }
}

.navbar-default {
  background-color: #faf9f8;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  color: #4e4e4e;
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 300;
  li {
    a {
      padding: 14px 17px;
      box-shadow: 0 1px 0 #f4eced;
      border-bottom: 1px solid #f4eced;
      background-color: #faf9f8;
      color: #4e4e4e;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 300;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover {
        background: #790b18;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

.home-slides {
  .slick-dotted.slick-slider {
    margin: 0 !important;
  }
  .slick-dots {
    top: 0;
    bottom: 0;
    right: 20%;
    width: auto;
    height: 100%;
  }
  .slick-dots,
  .slick-next,
  .slick-prev {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .slick-dots li button:before {
    content: '■' !important;
    color: #ffffff;
    font-size: 20px;
    transform: rotate(45deg);
  }
  .slick-dots li.slick-active button:before {
    color: #ffffff;
  }
}

.home-alcostore-slides {
  .slick-next,
  .slick-prev {
    top: auto;
    bottom: 20px;
    width: 54px;
    height: 21px;
    z-index: 1;
    opacity: 0.7;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next:before,
  .slick-prev:before {
    display: none;
  }
  .slick-prev {
    right: auto;
    left: 40px;
    background: url('../images/icon_arrow_left.png') no-repeat center;
  }
  .slick-next {
    right: auto;
    left: 120px;
    background: url('../images/icon_arrow_right.png') no-repeat center;
  }
}

.home-reviews {
  .slick-next,
  .slick-prev {
    top: -40px;
    bottom: auto;
    width: 54px;
    height: 21px;
    z-index: 1;
    opacity: 0.7;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next:before,
  .slick-prev:before {
    display: none;
  }
  .slick-prev {
    left: auto;
    right: 82px;
    background: url('../images/icon_arrow_dark_left.png') no-repeat center;
  }
  .slick-next {
    left: auto;
    right: 0;
    background: url('../images/icon_arrow_dark_right.png') no-repeat center;
  }
}

.good-slides {
  margin-right: 40px;
  &__slide {
    height: 415px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .slick-next,
  .slick-prev {
    top: auto;
    bottom: 20px;
    width: 54px;
    height: 21px;
    z-index: 1;
    opacity: 0.7;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 1;
    }
  }
  .slick-next:before,
  .slick-prev:before {
    display: none;
  }
  .slick-prev {
    left: auto;
    right: 160px;
    background: url('../images/icon_arrow_dark_left.png') no-repeat center;
  }
  .slick-next {
    left: auto;
    right: 80px;
    background: url('../images/icon_arrow_dark_right.png') no-repeat center;
  }
}

.slick-dotted.slick-slider {
  margin: 0 !important;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 780px;
  }
}

.modal-content {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 21px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
}