// bower:scss
// endbower
body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  color: #6a6a6a;
  overflow-x: hidden;
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url('../fonts/ProximaNovaRegular.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url('../fonts/ProximaNovaLight.otf');
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  src: url('../fonts/ProximaNovaBold.otf');
}

@import "atoms";
@import "restyle";
@import "responsive";